*{
    width: 0;
    height: 0;
    box-sizing: border-box;
}


.one{

    box-sizing: border-box;
    width: 300px;
    height: 150px;
    background-color: deepskyblue;
    border: solid white;
    margin: 60px;
    margin-left: 120px;
}
.two{
    background-color: deeppink;
}
body{
    background-color: black;
}